[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
mypy = "*"
flake8 = "*"
yapf = "*"
rope = "*"
pytest = "*"
pytest-azurepipelines = "*"
pytest-asyncio = "*"
pytest-xdist = "*"
pytest-cov = "*"
requests = "*"
wheel = "*"
sphinx = "*"
doc8 = "*"
sphinx-rtd-theme = "*"
m2r = "*"

[packages]
restio = {editable = true,path = "."}

[scripts]
test = "python tests/test.py"
docs = "sphinx-build -b html docs/source docs/build"
build = "python setup.py bdist_wheel"
