[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
mypy = "*"
flake8 = "*"
yapf = "*"
rope = "*"
pytest = "*"
pytest-azurepipelines = "*"

[packages]
restio = {editable = true,path = "."}

[requires]
python_version = "3.7.2"

[scripts]
test = "python src/tests/test.py"
