[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = {extras = ["toml"], version = "*"}
flake8 = "*"
yapf = "*"
rope = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-xdist = "*"
pytest-cov = "*"
requests = "*"
wheel = "*"
sphinx = "*"
doc8 = "*"
sphinx-rtd-theme = "*"
black = "==19.10b0"
aiohttp = "*"
darglint = "*"
pytest-black = "*"
isort = "*"
flask = "*"

[packages]
restio = {editable = true,path = "."}

[requires]
python_version = "3.8"

[scripts]
test = "pytest"
docs = "sphinx-build -b html docs/source docs/build"
build = "python setup.py sdist bdist_wheel"
